
@{ 
    ViewBag.Title = "Not Found";
}

    <div class="alert alert-danger mt-1 mb-1">
        <h4>Not Found Error :</h4>
        <hr />
        <h5>
            Error: @ViewBag.ErrorMessage
        </h5>
    </div>